:root {
    --button-color: rgba(115, 95, 85, 1);
    --button-hover: rgba(50, 31, 22, 1);
    --primary-100: rgba(233, 164, 100, 1);
    --primary-80: rgba(212, 152, 97, 1);
    --primary-60: rgba(223, 178, 137, 1);
    --primary-40: rgba(233, 203, 176, 1);
    --primary-20: rgba(244, 229, 216, 1);
    --secondary-100: rgba(243, 222, 201, 1);
    --secondary-80: rgba(245, 229, 212, 1);
    --secondary-60: rgba(249, 239, 229, 1);
    --secondary-40: rgba(250, 242, 233, 1);
    --secondary-20: rgba(253, 248, 244, 1);
    --white-100: rgba(255, 255, 255, 1);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-50: rgba(255, 255, 255, 0.5);
    --black-text-colorheadings-100: rgba(9, 9, 9, 1);
    --black-text-colorbody-text: rgba(58, 58, 58, 1);
    --black-text-colorcaption-text: rgba(95, 95, 95, 1);
    --black-text-colorblack-40: rgba(157, 157, 157, 1);
    --black-text-colorhr-line: rgba(193, 193, 193, 1);
    --accent-color100: rgba(255, 75, 75, 1);
    --button-text-font-family: "Caudex-Regular", Helvetica;
    --button-text-font-weight: 400;
    --button-text-font-size: 16px;
    --button-text-letter-spacing: 0.32px;
    --button-text-line-height: 16px;
    --button-text-font-style: normal;
    --menu-item-font-family: "Caudex-Regular", Helvetica;
    --menu-item-font-weight: 400;
    --menu-item-font-size: 16px;
    --menu-item-letter-spacing: 0.08px;
    --menu-item-line-height: 24px;
    --menu-item-font-style: normal;
    --menu-item-mobile-font-family: "CantataOne-Regular", Helvetica;
    --menu-item-mobile-font-weight: 400;
    --menu-item-mobile-font-size: 24px;
    --menu-item-mobile-letter-spacing: 0.12px;
    --menu-item-mobile-line-height: 24px;
    --menu-item-mobile-font-style: normal;
    --BIG-LABEL-FOR-PAGE-DROUP-font-family: "Poppins-Regular", Helvetica;
    --BIG-LABEL-FOR-PAGE-DROUP-font-weight: 400;
    --BIG-LABEL-FOR-PAGE-DROUP-font-size: 800px;
    --BIG-LABEL-FOR-PAGE-DROUP-letter-spacing: 4px;
    --BIG-LABEL-FOR-PAGE-DROUP-line-height: 3000px;
    --BIG-LABEL-FOR-PAGE-DROUP-font-style: normal;
    --badge-text-font-family: "Caudex-Regular", Helvetica;
    --badge-text-font-weight: 400;
    --badge-text-font-size: 14px;
    --badge-text-letter-spacing: 0px;
    --badge-text-line-height: 20px;
    --badge-text-font-style: normal;
    --h6-font-family: "Quicksand-SemiBold", Helvetica;
    --h6-font-weight: 600;
    --h6-font-size: 16px;
    --h6-letter-spacing: -0.32px;
    --h6-line-height: 24px;
    --h6-font-style: normal;
    --body-text-large-font-family: "Inter-Regular", Helvetica;
    --body-text-large-font-weight: 400;
    --body-text-large-font-size: 24px;
    --body-text-large-letter-spacing: 0px;
    --body-text-large-line-height: 32px;
    --body-text-large-font-style: normal;
    --menu-item-small-14px-font-family: "Caudex-Regular", Helvetica;
    --menu-item-small-14px-font-weight: 400;
    --menu-item-small-14px-font-size: 14px;
    --menu-item-small-14px-letter-spacing: 0px;
    --menu-item-small-14px-line-height: 20px;
    --menu-item-small-14px-font-style: normal;
    --mobile-heading-h1-font-family: "Caudex-Regular", Helvetica;
    --mobile-heading-h1-font-weight: 400;
    --mobile-heading-h1-font-size: 40px;
    --mobile-heading-h1-letter-spacing: -0.8px;
    --mobile-heading-h1-line-height: 46px;
    --mobile-heading-h1-font-style: normal;
    --mobile-heading-h2-font-family: "Caudex-Regular", Helvetica;
    --mobile-heading-h2-font-weight: 400;
    --mobile-heading-h2-font-size: 36px;
    --mobile-heading-h2-letter-spacing: 0px;
    --mobile-heading-h2-line-height: 44px;
    --mobile-heading-h2-font-style: normal;
    --mobile-heading-h3-font-family: "Caudex-Regular", Helvetica;
    --mobile-heading-h3-font-weight: 400;
    --mobile-heading-h3-font-size: 32px;
    --mobile-heading-h3-letter-spacing: -0.16px;
    --mobile-heading-h3-line-height: 40px;
    --mobile-heading-h3-font-style: normal;
    --mobile-heading-h4-font-family: "Caudex-Regular", Helvetica;
    --mobile-heading-h4-font-weight: 400;
    --mobile-heading-h4-font-size: 24px;
    --mobile-heading-h4-letter-spacing: 0px;
    --mobile-heading-h4-line-height: 32px;
    --mobile-heading-h4-font-style: normal;
    --mobile-heading-h5-font-family: "Thailandesa-Regular", Helvetica;
    --mobile-heading-h5-font-weight: 400;
    --mobile-heading-h5-font-size: 16px;
    --mobile-heading-h5-letter-spacing: 0.08px;
    --mobile-heading-h5-line-height: 24px;
    --mobile-heading-h5-font-style: normal;
    --desktop-heading-headline-top-text-font-family: "Rubik-Regular", Helvetica;
    --desktop-heading-headline-top-text-font-weight: 400;
    --desktop-heading-headline-top-text-font-size: 16px;
    --desktop-heading-headline-top-text-letter-spacing: 0.08px;
    --desktop-heading-headline-top-text-line-height: 16px;
    --desktop-heading-headline-top-text-font-style: normal;
    --desktop-heading-h1-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h1-font-weight: 400;
    --desktop-heading-h1-font-size: 64px;
    --desktop-heading-h1-letter-spacing: -1.28px;
    --desktop-heading-h1-line-height: 72px;
    --desktop-heading-h1-font-style: normal;
    --desktop-heading-h2-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h2-font-weight: 400;
    --desktop-heading-h2-font-size: 48px;
    --desktop-heading-h2-letter-spacing: -0.96px;
    --desktop-heading-h2-line-height: 56px;
    --desktop-heading-h2-font-style: normal;
    --desktop-heading-h3-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h3-font-weight: 400;
    --desktop-heading-h3-font-size: 40px;
    --desktop-heading-h3-letter-spacing: -0.8px;
    --desktop-heading-h3-line-height: 48px;
    --desktop-heading-h3-font-style: normal;
    --desktop-heading-h4-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h4-font-weight: 400;
    --desktop-heading-h4-font-size: 32px;
    --desktop-heading-h4-letter-spacing: -0.64px;
    --desktop-heading-h4-line-height: 40px;
    --desktop-heading-h4-font-style: normal;
    --desktop-heading-h5-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h5-font-weight: 400;
    --desktop-heading-h5-font-size: 24px;
    --desktop-heading-h5-letter-spacing: -0.48px;
    --desktop-heading-h5-line-height: 32px;
    --desktop-heading-h5-font-style: normal;
    --desktop-heading-h6-font-family: "Caudex-Regular", Helvetica;
    --desktop-heading-h6-font-weight: 400;
    --desktop-heading-h6-font-size: 16px;
    --desktop-heading-h6-letter-spacing: 0.08px;
    --desktop-heading-h6-line-height: 24px;
    --desktop-heading-h6-font-style: normal;
    --desktop-display-display-1-font-family: "Caudex-Regular", Helvetica;
    --desktop-display-display-1-font-weight: 400;
    --desktop-display-display-1-font-size: 72px;
    --desktop-display-display-1-letter-spacing: -1.44px;
    --desktop-display-display-1-line-height: 80px;
    --desktop-display-display-1-font-style: normal;
    --desktop-display-big-heading-for-banner-font-family: "Quicksand-Bold", Helvetica;
    --desktop-display-big-heading-for-banner-font-weight: 700;
    --desktop-display-big-heading-for-banner-font-size: 131.23809814453125px;
    --desktop-display-big-heading-for-banner-letter-spacing: -2.624761962890625px;
    --desktop-display-big-heading-for-banner-line-height: 131.24000549316406px;
    --desktop-display-big-heading-for-banner-font-style: normal;
    --desktop-body-light-font-family: "Rubik-Regular", Helvetica;
    --desktop-body-light-font-weight: 400;
    --desktop-body-light-font-size: 16px;
    --desktop-body-light-letter-spacing: 0px;
    --desktop-body-light-line-height: 24px;
    --desktop-body-light-font-style: normal;
    --desktop-body-regular-font-family: "Rubik-Light", Helvetica;
    --desktop-body-regular-font-weight: 300;
    --desktop-body-regular-font-size: 16px;
    --desktop-body-regular-letter-spacing: 0px;
    --desktop-body-regular-line-height: 24px;
    --desktop-body-regular-font-style: normal;
    --desktop-body-bold-font-family: "Rubik-SemiBold", Helvetica;
    --desktop-body-bold-font-weight: 600;
    --desktop-body-bold-font-size: 16px;
    --desktop-body-bold-letter-spacing: -0.24px;
    --desktop-body-bold-line-height: 24px;
    --desktop-body-bold-font-style: normal;
    --desktop-body-regular-small-font-family: "Rubik-Light", Helvetica;
    --desktop-body-regular-small-font-weight: 300;
    --desktop-body-regular-small-font-size: 14px;
    --desktop-body-regular-small-letter-spacing: 0px;
    --desktop-body-regular-small-line-height: 20px;
    --desktop-body-regular-small-font-style: normal;
    --script-16-40-font-family: "LucidaCalligraphy-Italic", Helvetica;
    --script-16-40-font-weight: 400;
    --script-16-40-font-size: 24px;
    --script-16-40-letter-spacing: 0.12px;
    --script-16-40-line-height: 40px;
    --script-16-40-font-style: italic;
    --script-16-24-font-family: "TheNautigal-Regular", Helvetica;
    --script-16-24-font-weight: 400;
    --script-16-24-font-size: 32px;
    --script-16-24-letter-spacing: 0.16px;
    --script-16-24-line-height: 40px;
    --script-16-24-font-style: normal;
    --shadow-1: 2px 6px 16px 0px rgba(112, 144, 176, 0.3);
    --soft-border-shadow: 2px 16px 40px 0px rgba(112, 144, 176, 0.2);
    --variable-collection-button-hover: rgba(64, 42, 32, 1);
  }
  